@tailwind base;
@tailwind components;
@tailwind utilities;

.green-checkbox {
  @apply w-5 h-5 appearance-none border border-black checked:bg-[#3BB873] checked:bg-[url(/icons/check.png)] checked:border-0 bg-no-repeat bg-center;
}

.szh-accordion__item-btn {
  @apply block w-full p-0 bg-none border-none cursor-pointer;
}

.szh-accordion__item-btn:focus .szh-accordion__item-btn:focus-visible {
  @apply outline-none;
}

.szh-accordion__item-btn > div {
  @apply flex justify-between  border-b bg-white cursor-pointer;
}

/* 스크롤바 스타일 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f1f1f5;
  border-radius: 9999px;
}

.custom-quill .ql-editor {
  height: 100%;
  overflow: hidden;
}
