@tailwind base;
@tailwind components;
@tailwind utilities;

.green-checkbox {
  @apply w-5 h-5 appearance-none border border-black checked:bg-[#3BB873] checked:bg-[url(/icons/check.png)] checked:border-0 bg-no-repeat bg-center;
}

.szh-accordion__item-btn {
  @apply block w-full p-0 bg-none border-none cursor-pointer;
}

.szh-accordion__item-btn:focus .szh-accordion__item-btn:focus-visible {
  @apply outline-none;
}

.szh-accordion__item-btn > div {
  @apply flex justify-between  border-b bg-white cursor-pointer;
}

/* 스크롤바 스타일 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f1f1f5;
  border-radius: 9999px;
}

.custom-quill .ql-editor {
  height: 100%;
  overflow: hidden;
}

.swal-popup {
  width: 420px;
  height: 228px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 16px 16px 30px 0px rgba(0, 0, 0, 0.06);
}

.swal-title {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.swal-confirm-button {
  background-color: #3bb873;
  color: #ffffff;
  border-radius: 4px;
  width: 356px;
  padding: 9px 12px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

@media (max-width: 440px) {
  .swal-confirm-button {
    width: 280px;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 16px;
  }
}

.swal-confirm-button:hover {
  background-color: #236c44;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swal-actions {
  display: flex;
  justify-content: center;
  width: 420px;
  gap: 8px;
  padding: 24px 32px 12px 32px;
  margin: 0;
}

.swal-cart-button,
.swal-continue-button {
  background-color: #ffffff;
  color: #3bb873;
  border-radius: 4px;
  width: 174px;
  padding: 9px 12px;
  border: 1px solid var(--primary-500-main, #3bb873);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.swal-cart-button {
  background-color: #3bb873;
  color: #ffffff;
  border: none;
}

.swal-cart-button:hover {
  background-color: #236c44;
}

.swal-continue-button:hover {
  background-color: #f7fdfa;
}

.ql-editor {
  padding: 0 !important;
}

.ql-editor img {
  display: inline;
}

.custom-radio {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid #3bb873;
  cursor: pointer;
}

.custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #3bb873;
  border-radius: 100%;
  display: none;
}

input[type='radio']:checked + .custom-radio::after {
  display: block;
}

input[type='radio'] {
  display: none;
}
